.App {
  text-align: center;
}

.nav-bar{
  background-color: red;
  display: flex;
  padding: 20px;
}


.articles-container{
  width: 95%;
  display: flex;
  flex-wrap: wrap;

}


.articles-box{
  flex-basis: 50%; /* or - flex: 0 50% - or - flex-basis: 50% - */
  margin-right: 0%;
  box-shadow: 0 0 0 1px black;
  margin-bottom: 10px;

}
.articles-img{

  width: 190px;
  height: 190px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;

}