.App {
  margin: 30px;
}

.nav-bar{
  background-color: red;
  display: flex;
  padding: 20px;
  margin-left: -30px;
}

.nav-button-container{
  width: 95%;
  display: flex;
  flex-wrap: wrap;
}

.nav-button{
  height: 30px;
  align-self: center;
  margin-right: 10px;
  text-transform: capitalize;
}

.latest-news{
  width: 95%;
  display: flex;
  flex-wrap: wrap;

}

.articles-container{
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  border-width: 2px;
}


.articles-box{
  width: 400px;
  height: 500px;
  border-width: 2px;
  border-style: solid;
}
.articles-img{
  width: 380px;
  height: 380px;
  margin: auto;

}


.single-article{
}

.article-container {
  display:grid;
  grid-template-columns: 1fr 4fr;
  /* grid-template-rows: 200px; */
  grid-template-areas: 
  "article-body article-image";
}

.article-body{
  width: 380px;
  height: 380px;
  text-justify: auto;
  padding-right: 50px;
}

.article-image{
  width: 380px;
  height: 380px;

}

.comments-window{
  max-width: 680px;
  max-height: 380px;
  text-justify: auto;
}

.comment-submitted{
  color: darkgreen;
}