.App {
  text-align: center;
}

.nav-bar{
  background-color: red;
  display: flex;
  padding: 20px;
}

.latest-news{
  margin: 30px;
  width: 95%;
  display: flex;
  flex-wrap: wrap;

}

.articles-container{
  margin: 30px;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  border-width: 2px;
  border-style: solid;
}


.articles-box{
  width: 400px;
  height: 500px;
  border-width: 2px;
  border-style: solid;
}
.articles-img{
  width: 380px;
  height: 380px;
  margin: auto;

}


.single-article{
  margin: 30px

}

.article-container {
  display:grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 110px;
  grid-template-areas: 
  "article-body article-image";
}

.article-body{
  width: 380px;
  height: 380px;

}

.article-image{
  width: 380px;
  height: 380px;

}